body{
    color: rgb(2, 1, 1);
    background: pink;
}

h3{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed rgb(3, 3, 3);
    width: 350px;
    height: 300px;
}

#result_of_objects, #result_of_accuracy{
    color: rgb(6, 123, 247);

}